{% extends './base2.html' %}

{% block title %}Inscritos{% endblock %}


{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/noticias.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


{% block content %}
<header>
    <h1>Incritos</h1>
</header>

<div class="container">
    <h1>Lista de Inscritos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Código</th>
                <th>Semestre</th>
                <th>Carrera</th>
                <th>Juego</th>

            </tr>
        </thead>
        <tbody>
            {% for inscrito in inscritos %}
                <tr>
                    <td>{{ inscrito.nombre }}</td>
                    <td>{{ inscrito.apellido }}</td>
                    <td>{{ inscrito.codigo }}</td>
                    <td>{{ inscrito.semestre }}</td>
                    <td>{{ inscrito.carrera }}</td>
                    <td>{{ inscrito.juego.nombre }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
